<% if @open_mat.errors.any? %>
<section id="errors">
  <header>
    <h2>
      Oops! The <%= @open_mat.class.name.titleize.downcase %> could not be saved. 
    </h2>
    <h3>
      Please correct the following <%= pluralize(@open_mat.errors.count, "error") %>:
    </h3>
  </header>
  <ul>
    <% @open_mat.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</section>
<% end %>