<aside style="float: right; background: #F0F0F0; width: 200px;">
  <nav>
    <ul>
      <li>
        <%= link_to 'All Open Mats', open_mats_path %>
      </li>
      <li>
        <%= link_to 'Add New Open mat', new_open_mat_path %>
      </li>
    </ul>
  </nav>
</aside>